

<div class="parent_links">
  <%= link_to "(保護者側)入力システム", new_change_post_path %>
</div>
<h1>変更一覧</h1>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>名前</th>
      <th>変更項目</th>
      <th>詳細</th>
    </tr>
  </thead>

  <tbody>
    <% @change_posts.each do |change_post| %>
      <tr>
        <td><%= change_post.date %></td>
        <td></td>
        <td><%= change_post.time %></td>
        <td><%= link_to 'Show', change_post %></td>
      </tr>
    <% end %>
  </tbody>
</table>


