
<div id="parent_notes_choices">
  <h1>連絡ノート</h1>
  <div id="notes_choices">
    <div class="notes_choice">
      <%= link_to "新規記録", new_parents_note_path, class: "choices_p" %>
      <p>登園前にご入力ください</p>
    </div>
    <div class="notes_choice">
      <%= link_to "ノート確認", daily_records_path, class: "choices_p" %>
      <p>保育者の記録をご確認ください</p>
    </div>
  </div>
</div>

