<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @parents_note.content %>
</p>

<%= link_to 'Edit', edit_parents_note_path(@parents_note) %> |
<%= link_to 'Back', parents_notes_path %>
