
<div id="parent_information_show_body">
  <h1>お知らせ・お願い</h1>
  <div id="parent_information_show_all">
    <div class="parent_information_show_div">
      <p class="parent_information_show_p">投稿日:</p>
      <p class="parent_information_show_data"><%= @parent_information.date.strftime("%Y年%m月%d日") %></p>
    </div>
    <div class="parent_information_show_div">
      <p class="parent_information_show_p">タイトル:</p>
      <p class="parent_information_show_data"><%= @parent_information.title %></p>
    </div>
    <div>
      <p class="parent_information_show_content_p">内容</p>
      <div><%= simple_format(@parent_information.content) %></div>
    </div>
    <div id="parent_information_show_image">
      <p class="parent_information_show_content_p">ファイル・画像</p>
      <div id="parent_information_show_content_image"><%= image_tag @parent_information.file_content.url %></div>
    </div>
  </div>
</div>

