
<div id="incorporates_index_body">
  <h1>取り組み一覧</h1>

  <table>
    <thead>
      <tr>
        <th>投稿日</th>
        <th>タイトル</th>
        <th>詳細</th>
      </tr>
    </thead>

    <tbody>
      <% @incorporates.each do |incorporate| %>
        <tr>
          <td><%= incorporate.date %></td>
          <td><%= incorporate.title %></td>
          <td><%= link_to '詳細', incorporate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
