
<div id="incorporates_new_body">
  <div class="parent_links">
  <%= link_to "保護者システム", incorporates_path ,id: :parent_tops_system %>
  </div>
  <h1>取り組み</h1> 

  <%= render 'form', incorporate: @incorporate %>

</div>