<%# ----- タイトル ----  %>
<h1>BRIDGE -Child System-</h1>
<p>保育園と保護者の架け橋となるように・・・</p>
<%# ---- (to do)下記２つのリンクはパスを変更する ---- %>
<%= link_to "新規登録", home_top_path %>
<%= link_to "ログイン", home_top_path %>



