
<div id="calendars_new_body">
  <div class="parent_links">
    <%= link_to "保護者システム", calendars_path ,id: :parent_tops_system %>
  </div>
  <h1>行事予定入力・調整</h1>

  <%= render 'form', calendar: @calendar %>
</div>