
<div id="parent_form_body">
  <h1>お問い合わせ詳細</h1>
  <div class="parent_form_show_div">
    <p class="parent_form_show_p">お子様の名前:</p>
    <p class="parent_form_show_data"><%= @parent_form.children_name %></p>
  </div>

  <div class="parent_form_show_div">
    <p class="parent_form_show_p">保護者の名前:</p>
    <p class="parent_form_show_data"><%= @parent_form.parent_name %></p>
  </div>

  <div class="parent_form_show_div">
    <p class="parent_form_show_p">項目:</p>
    <p class="parent_form_show_data"><%= @parent_form.content_name %></p>
  </div>

  <div class="parent_form_show_contents">
    <p class="parent_form_show_content_p">内容</p>
    <p class="parent_form_show_content"><%= @parent_form.contents %></p>
  </div>
</div>
