<div id="daily_record_index_body">
  <div class="parent_links">
    <%= link_to "保護者システム", new_daily_record_path ,id: :parent_tops_system %>
  </div>
  <h1>連絡ノート一覧</h1>
  <div id="daily_record_index">
    <div class="notes_choice">
      <table>
        <thead>
          <tr>
            <th>日付</th>
            <th>内容</th>
          </tr>
        </thead>

        <tbody>
          <% @daily_records.each do |daily_record| %>
            <tr>
              <td><%= daily_record.created_at.strftime("%Y年%m月%d日") %></td>
              <td><%= link_to '詳細', daily_record %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
