
<div id="daily_record_new_body">
  <div class="parent_links">
  <%= link_to "保護者システム", parent_informations_path ,id: :parent_tops_system %>
  </div>
  <h1>連絡ノート（保育者記入）</h1>
  <p>本日のお子様について、連絡致します</p>

  <%= render 'form', daily_record: @daily_record %>

</div>


