<h1>連絡ノート（保育者記入）</h1>
<%# -------------- todo 日付を表示したい---------------------  %>
<p>todo 保護者が入力した日付をそのまま反映</p>

<%= render 'form', daily_record: @daily_record %>

<%= link_to 'トップへ戻る', parent_tops_path %>
