<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @administrator.content %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
