// Place all the styles related to the parent_tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// -------------------------------------------------------
//                保護者ページtop(index)
// -------------------------------------------------------

// 管理者システムボタン
#administrators_keys {
	text-align: right;
	// ボタン
	#administrators_key {
		display: inline-block;
		border: solid 2px #3333;
		border-radius: 10px;
		padding: 5px 10px 5px 25px;
	}
	a {
		text-decoration: none;
	}
	img {
		position: absolute;
		right: 138px;
	}
}
// タイトル画像
.h1_images {
	margin: 15px 0px;
	display: flex;
	justify-content: center;
}
// 保護者トップのh1
#parent_h1 {
	margin: 0;
	background-image: none;
	padding: 0;
}
// 画像
#children_image {
	width: 18px;
	height: 18px;
	margin: 0 10px;
}
// 新着枠
#new_arrival {
	#p_arrival {
		margin: 0;
		text-align: left;
	}
	#arrival {
		height: 50px;
		border: solid 2px gray;
		border-radius: 3px;
	}
}
// -------------- システム一覧 ---------------
#parent_top_lists {
	ul {
		list-style: none;
		padding: 0;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			margin: 5px;
			border: solid 3px #fce38a;
			border-radius: 10px;
			padding: 5px 10px;
			width: 138px;

			.parent_top_p {
				font-size: 10px;
				margin: 0;
			}

			.parent_list_title {
				font-weight: bold;
				text-decoration: none;
				border-bottom: dashed 1px #ff2e63;
				padding: 2px;
			}
		}
	}
}
